*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body
{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fafafa;
}

.recoverer-conteiner
{
    background-color: #fff;
    border: 1px solid #dbdbdb;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 420px;
}

.recoverer-form input
{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

.recoverer-form button
{
    width: 100%;
    padding: 10px;
    background-color: #0095f6;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

a
{
    color: #0095f6;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}

.recover-password
{
    padding: 15px;
}